# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class
__pycache__/

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
eggs/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
*.mocha
*.pytest_cache/

# Jupyter Notebook files
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/
.vscode-test/

# Pytest cache
.pytest_cache/

# Django stuff
*.log
local_settings.py
db.sqlite3

# Flask stuff
instance/
.webassets-cache

# Scrapy stuff
.scrapy

# Sphinx documentation
docs/_build/

# PyInstaller
*.spec
*.pyc

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# Environments
.env
.venv
ENV/
env/
venv/
venv.bak/
env.bak/
env/*
env_bak/*

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# profiling data
.prof

# Data files
*.csv
*.tsv
*.dat
*.data
*.sql

# Backup files
*.bak
*.swp

# Docker
.dockerignore
docker-compose.yml
Dockerfile
*.tar

# Logs and databases
*.log
*.sqlite

# Secrets and configuration files
config.yaml
config.yml

# Anaconda
*.conda
*.ipynb_checkpoints
*.h5

# Tableau
*.twb
*.twbx

# Airflow
airflow.cfg
airflow.db

# PostgreSQL
*.pgsql
*.pg_backup
*.pg_data
pgdata/
postgresql.conf
pg_hba.conf
pg_ident.conf
pg_log/
pg_xlog/
pg_replslot/
pg_stat_tmp/
pg_snapshots/
pg_subtrans/
pg_multixact/
pg_twophase/
pg_notify/
pg_serial/
pg_archive/

# PostgreSQL data
airflow-project/data/postgres/
airflow-project/data/postgres/global/
airflow-project/data/postgres/pg_wal/


# Miscellaneous
*.bak
*.swp

# Ignore files generated by Python
*.pyc
__pycache__/

# Ignore virtual environment
airflow_venv/

# Ignore specific directories and patterns within airflow_venv
airflow_venv/Lib/site-packages/*/*.dist-info/
airflow_venv/Lib/site-packages/*/*.egg-info/
airflow_venv/Lib/site-packages/opentelemetry_metrics_*/METADATA
airflow_venv/Lib/site-packages/opentelemetry_metrics_*/instrument.py

# Exclude compiled binaries and libraries
*.so
*.dll
*.pyd

# Ignore package installation directories
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore Docker related files
.dockerignore
docker-compose.yml
Dockerfile
*.tar

# Ignore logs and temporary files
logs/
tmp/
*.log
*.pid

# Ignore IDE and editor specific files
.idea/
.vscode/
*.vscode/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS specific files
.DS_Store

# Ignore backup files
*.bak
*.swp
